.icon_add_user {
    cursor: pointer;
    color: #337ab7;
}

.label_form_add_user{
    position:relative;
}

i.fa.fa-asterisk.icon_star{
    color: red;
    font-size: 0.5em;
    position: absolute;
    left: 100%;
    top: 0;
}

i.glyphicon.glyphicon-star.icon_star {
    color: red;
    font-size: 0.4em;
    position: absolute; 
    top: 25%;
    right: -10px;
}

.tableEmployee{
    margin-top:10px;
}

.table.table-bordered th {  
    font-weight: 100;    
    color: #777;
    font-size: 0.9em;
}

.table_title {
    font-weight: 500;
    font-size: 1.4em;
}